/* src/components/Auth/LoginForm/style.css */
#loginFormStructure{
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

p {
  margin-top: 10px;
  color: #6b7280;
  font-size:15px;
  text-align: center;
}
h1{
  text-align: center;
}

h2{
  max-width: 50vw;
}

#cadastrar{
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
}

a {
  text-decoration: underline;
  color: var(--cor-texto-secundaria);
}

a:hover{
  color: var(--cor-primaria);
}

