.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10%;
    color: white;
    background-color: var(--cor-tema);
    border-top: solid 1px var(--cor-primaria);
}